<div class="lista-recetas">
  <h2>Perfil de {{name}}</h2>

  <div>

    <button class="crea-btn">
      <a href="perfil/crear-receta">
        Crea tu propia receta
        </a>
    </button>
  </div>

  <div class="tipo-receta-perfil">
    {{#each recetas}}
      <div class="btn-receta">
        <a href="/recetario/{{this._id}}/detalles">{{this.nombre}}</a>
        <img src="{{this.imagen}}" alt="PATATA" />
        <div class="actualizar-eliminar">
          <a href="/perfil/{{this._id}}/actualizartodo">
            <button>Actualizar</button>
          </a>

          <form action="/perfil/{{this._id}}/delete" method="POST">
            <button>Eliminar</button>

          </form>
        </div>
      </div>
    {{/each}}
  </div>
</div>