<div class="lista-recetas">

<div>
    <h2>{{recetaActualizar.nombre}}</h2>
</div>
<div class="img-info">

<div class="imagen-receta" >
    <img src="{{recetaActualizar.imagen}}" alt="PATATA" >
</div>
<div class="info-basica">
    <p>Duración: {{recetaActualizar.duracion}} minutos</p>
    <p>Dificultad: {{recetaActualizar.dificultad}}</p> 
    <p>Tipo: {{recetaActualizar.tipo}}</p> 

</div>
</div>

<div class="ingredientes-container">

<div class="inputs-crearingredientes">
    <form action="/perfil/{{recetaActualizar._id}}/actualizar/ingredientes" method="POST">
    <label for="ingredientes">Ingredientes</label>

    <input name="ingredientes" type="text"> 
    <button class="crea-btn">Añadir</button>
    </form>
</div>

<div class="lista-elementos">
        <h4>Ingredientes:</h4>
            <ul>
                {{#each recetaActualizar.ingredientes}}
                <li>
                {{this}}
                </li>
                {{/each}}
            </ul>
</div>
</div>

<div class="inputs-crear">
    <form action="/perfil/{{recetaActualizar._id}}/actualizar/pasos" method="POST">

<div id="pasos">
    <label  for="descripcion">Introduce las instrucciones de forma ordenada:</label>

</div>
    
<div>

    <div>
    <label for="numero">Número</label>
    <input name="numero" type="number">
</div>
    <br>
    <textarea rows= "7" name="descripcion"> </textarea>
</div>
    <button class="crea-btn">Añadir</button>
    </form>
</div>

<div class="pasos-crear">
    <div>
        <h4>Pasos a seguir: </h4>
    </div>
    <div>

            <ul>
                {{#each recetaActualizar.pasos}}
                <li>
                {{this.numero}}
                {{this.descripcion}}
                </li>
                {{/each}}
            </ul>
    </div>
    
     </div>

        <a href="/recetario/{{recetaActualizar._id}}/detalles"><button class="crea-btn">Finalizar receta</button></a>
    </div>

</div>