<h3>Completa tu receta añadiendo los ingredientes!</h3>

<div>
    <h2>{{recetaActualizar.nombre}}</h2>
</div>
    <img src="{{recetaActualizar.imagen}}" alt="PATATA" >
<div>
    <p>Dificultad {{recetaActualizar.dificultad}}</p>
    <p>Duración {{recetaActualizar.duracion}} minutos</p>


<div>
    <form action="/perfil/{{recetaActualizar._id}}/actualizar" method="POST">
    <label for="ingredientes">Ingredientes</label>
    <input name="ingredientes" type="text"> 
    <button>Añadir</button>
    </form>
</div>

<div>
        <h4>Ingredientes</h4>
            <ul>
                {{#each recetaActualizar.ingredientes}}
                <li>
                {{this}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
