<div>
    <h2>{{recetaDetalle.nombre}}</h2>
</div>
    <img src="{{recetaDetalle.imagen}}" alt="PATATA" >
<div>
    <p>Dificultad: {{recetaDetalle.dificultad}}</p>
    <p>Duración: {{recetaDetalle.duracion}}</p>
    <p>Autor: {{recetaDetalle.autor.username}}</p>
    
        <div>
            <h4>Pasos</h4>
            <ul>
                {{#each recetaDetalle.pasos}}
                <li>
                {{this.numero}}: {{this.descripcion}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
<div>
    <h4>Ingredientes</h4>
    <ul>
        {{#each recetaDetalle}} 
        {{this.ingredientes}}
        {{/each}}
    </ul>

 {{!-- BOUNUS=> COMENTARIOS  --}}
    {{#each recetaDetalle.comentario}}
    <div>
        <h6>{{this.comentario.autor}}</h6>
        <p>{{this.comentario.fecha}}</p>
        <div>
            <p>{{this.comentario.comentario}}</p>
        </div>
    </div>
    {{/each}}

    <div>
        <h6>Usuario</h6>

            <div>
                <form action="/recetario/{{recetaDetalle._id}}/detalles" method="POST">
                <label for="comentario">Comentario</label>
                <textarea rows= "15" name="comentario"> </textarea>
                <button>Deja tu comentario</button>
                </form>
            </div>
       
    </div>

</div>



