<div>
    <h2>{{recetaDetalle.nombre}}</h2>
</div>
    <img src="{{recetaDetalle.imagen}}" alt="PATATA" >
<div>
    <p>duracion y dificultad {{recetaDetalle.dificultad}}</p>
    <p>fecha de creación {{recetaDetalle.duracion}}</p>
    
        <div>
            <h4>Pasos</h4>
            <ol>
                {{#each recetaDetalle.pasos}}
                <li>
                {{this.Paso}}
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
<div>
    <h4>Ingredientes</h4>
    <ul>
        {{#each recetaDetalle}} 
        {{this.ingredientes}}
        {{/each}}
    </ul>

{{! BOUNUS=> COMENTARIOS 

    <div>
        <h6>Usuario</h6>
        <div>
            <p>{comentario}</p>
        </div>
    </div>
}}

</div>



