<div>
    <h2>{{recetaDetalle.nombre}}</h2>
</div>
    <img src="{{recetaDetalle.imagen}}" alt="PATATA" >
<div>
    <p>Dificultad: {{recetaDetalle.dificultad}}</p>
    <p>Duración: {{recetaDetalle.duracion}}</p>
    <p>Autor: {{recetaDetalle.autor.username}}</p>
    <a href="/recetario/{{recetaDetalle.tipo}}"><p>{{recetaDetalle.tipo}}</p></a>
       {{#if isLoggedIn}}
        <div>
            <h4>Pasos</h4>
            <ul>
                {{#each recetaDetalle.pasos}}
                <li>
                {{this.numero}}: {{this.descripcion}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
<div>
    <h4>Ingredientes</h4>
    <ul>
        {{#each recetaDetalle}} 
        {{this.ingredientes}}
        {{/each}}
    </ul>

 {{!-- BOUNUS=> COMENTARIOS  --}}
    {{#each comentarios}}
    <div>
        <h6>{{this.autor.username}}</h6>
        <p>{{dateToString this.fecha}}</p>
        <div>
            <p>{{this.comentario}}</p>
        </div>
    </div>
    {{/each}}

    <div>
        <h6>Usuario</h6>

            <div>
                <form action="/recetario/{{recetaDetalle._id}}/detalles" method="POST">
                <label for="comentario">Comentario</label>
                <textarea rows= "15" name="comentario"> </textarea>
                <button>Deja tu comentario</button>
                </form>
            </div>
       
    </div>

    {{else}}
    <a href="/auth/signup"><h3>Regístrate, para acceder al contenido exclusivo de Pastry.  </h3></a>
    <div class = "difuminado"></div>

    

    
{{/if}}
</div>



