<div class="lista-recetas">
<div>
    <h2>{{recetaDetalle.nombre}}</h2>
</div>
<div class="comienzo-receta">

<div class="tipo-receta">
    <div class="img-info">
    <div class="imagen-receta">
    <img src="{{recetaDetalle.imagen}}" alt="PATATA" >
    </div>
    <div class="info-basica">
    <p>Tipo:
    <a href="/recetario/{{recetaDetalle.tipo}}">{{recetaDetalle.tipo}}</a>
    </p>
    <p>Dificultad: {{recetaDetalle.dificultad}}</p>
    <p>Duración: {{recetaDetalle.duracion}}</p>
    <p>Autor: {{recetaDetalle.autor.username}}</p>
   
    </div>
    </div>

    <div class="ingredientes">
    <h4>Ingredientes</h4>
    <ul>
        {{#each recetaDetalle.ingredientes}} 
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    </div>

</div>

</div>
    {{#if isLoggedIn}}
    <div class="info-container">

        <div class="pasos">
            <h4>Pasos</h4>
            <ul>
                {{#each recetaDetalle.pasos}}
                <li>
                {{this.numero}}: {{this.descripcion}}
                </li>
                {{/each}}
            </ul>
        </div>

    
    </div>
    <br>
 {{!-- BOUNUS=> COMENTARIOS  --}}
    {{#each comentarios}}
    <div class="coment-container">
        <div class="coment-info">
        <h5>{{this.autor.username}}</h5>
        <p>{{dateToString this.fecha}}</p>
        </div>
        <div class="coment-usuario">
            <p>{{this.comentario}}</p>
        </div>
    </div>
    {{/each}}

    <div>

            <div class="coment-container">
                <form class="coment-container" action="/recetario/{{recetaDetalle._id}}/detalles" method="POST">
                <label for="comentario"></label>
                <textarea rows= "15" name="comentario"> </textarea>
                <button class="btn-coment">Comenta!</button>
                </form>
            </div>
       
    </div>

    {{else}}
    <a href="/auth/signup"><h3>Regístrate, para acceder al contenido exclusivo de Pastry.  </h3></a>
    <div class = "difuminado"></div>

    
{{/if}}
</div>




